/*Selector Universal*/

*{
   margin: 0;
   padding: 0;

}
/*Selector de Etiqueta*/

body{
   background-color: rgb(16, 247, 197);
   color:black;

}
/*Selector Id*/
#contenedor{
   width: 85%;
   height: 100%;
   background-color: rgb(16, 247, 197);
   margin: 10px;
   padding: 20px;
}

#menu{
   height: 1%;
   background-color: rgb(255, 255, 255);
   margin: 1em;
   border-radius: 5px;
}
#encabezado{
   width: 85%;
   background-color: rgb(16, 247, 197);
   margin: 1em;
   border-radius: 5px;
   text-align: center;
}
/*Selector de etiqueta*/
ul{
   text-align: center;
   padding: 10px;

}
li{
   display: inline;
   padding: 10px 30px;
   margin: 3em;
}
li a:hover{
   color: crimson;
   font-size: 20px;
   text-decoration: none;
   list-style: none;   
}
/*Selector de clase*/
.img{
   width: 30%;
   border-radius: 30px;
   justify-items: center;
}
.texto{
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   padding: 5px 25px;
   color: rgb(0, 0, 0);
}

 /*card*/

 .card{
   
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 300px;
   margin: auto;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
 }
 .card:hover{

   max-width: 310px;
 }

 .card img{

   background-color: rgb(16, 247, 197);
 }
 .title{

   color: rgb(0, 0, 0);
   font-size: 10px;
 }
 button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .anta-regular {
   font-family: "Anta", sans-serif;
   font-weight: 400;
   font-style: normal;
 } 
 .linea {
   width: 80%;
   height: 1px;
   background-color: #000; 
   margin: 20px auto;
}
html{
   scroll-behavior: smooth;
}

.flex{
   display: flex;
   flex-direction: row;
   width: 80%;
   height: 60%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 5px;

}
*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
body{
   background-color: #e6edde;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
}
.container{
   max-width: 1110px;
   margin: 0 auto;
}
.fondo{
   padding: 32px 0;
   background-color: #6e844e;
}
.menu{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   z-index: 1000;
}
.logo{
   font-size: 30px;
   color: aqua;
   font-weight: 800;
   text-transform: uppercase;

}
.menu .navbar ul li{
   position: relative;
   float: left;

}
.menu ul li a{
   position: absolute;
   font-size: 18px;
   padding: 2px;
   color: white;
   display:  block;
}
.menu .navbar ul li a:hover{
   color: aquamarine;
}
#menu{
   display: none;
}
.menu-icono{
   width: 25px;
}
.menu label{
  cursor: pointer;
  display: none;
}
#menu:checked ~ .navbar{
   display: initial;
}
.fondo{
   padding: 47px 0;
}
@media(max-width:800px){
   .menu{
       padding: 30px;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background-color: #2A394F;
       display: none;
   }
   .menu .navbar ul li{
       width: 100%;
   }
   #menu:checked ~ .navbar{
       display: initial;
   } 
}